@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete @Model.Name Employee</h1>
<div asp-validation-summary="All">
</div>

<form asp-action="Delete">
    <partial name="PrtialViews/DeleteDetailsPartialView" />

    <br />
    <input type="Submit" value="Delete" class="btn btn-danger ms-2" />
    <a asp-action="@nameof(Index)" class="btn btn-light ms-2">Cancel</a>
</form>

@* <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger ms-2">Delete</a>
<a asp-action="@nameof(Index)" class="btn btn-light ms-2">Cancel</a> *@

