@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendResetPasswordUrl">

			<input class="text" asp-for="Email" placeholder="Email">
			<div class=" text-danger" asp-validation-summary="All"></div>


			<input type="submit" value="Reset Password">
		</form>
		
		
	</div>
</div>
@section VaildationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}