@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			
			<input class="text" type="password" asp-for="Password" placeholder="Password">
			<span asp-validation-for="Password" class="text-danger"></span>
			<br />
			<br />
			<input class="text" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<br />
			<br />
			
			<input type="submit" value="Reset Password">
		</form>
		
		<div class=" text-danger" asp-validation-summary="All"></div>


	</div>
</div>

@section VaildationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}

